<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>HELL WORLD</title>
    </head>
    <body>
    {{$name := .}}
        <h1> you are my love : {{$name}}</h1>
    </body>

</html>