<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> slice - struct </title>
    </head>
    <body>
        {{range .}}
            <li>{{.Name}} - {{.Age}}</li>
        {{end}}
    </body>
</html>