<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Our god</title>
    </head>
    <body>
        <ul>
            {{range $index, $elemnet := .}}
            <li>{{$index}} -- {{$elemnet}}</li>
            {{end}}
        </ul>
    </body>
</html>