<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>pass struct into template</title>
    </head>
    <body>
        <li>{{.Name}} - {{.Class}}</li>
    </body>
</html>