<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>how to use template</title>
    </head>
    <body>
        <h1>i will be super {{.}}</h1>
        <p>{{template "student"}}</p>
    </body>
</html>