<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>use map</title>
    </head>
    <body>
        {{range $key, $val := .}}
        <li>{{$key}} -- {{$val}}</li>
        {{end}}
    </body>
</html>