<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>use time format</title>
    </head>
    <body>
        no data format {{ . }}

        use data format {{fdateMDY .}}
    </body>
</html>