<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> how ot use FucMap</title>
    </head>
    <body>

        {{range .st}}
        {{ .Name}}
        {{end}}
      
    </body>
</html>