<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> how ot use FucMap</title>
    </head>
    <body>

        {{range .St}}
        name : {{ .Name}} - age : {{.Age}}
        {{end}}

        {{range .Te}}
        name : {{.Name}} - subject : {{.Subject}}
        {{end}}
    </body>
</html>