<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> pass data into template</title>
    </head>
    <body>
        <h1> we will be super {{.}}</h1>
        {{template "meaning" .}}
    </body>
</html>