<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            use global function
        </title>
    </head>
    <body>
        {{.Name}}
        {{index .Junban 0}}
        {{index .Junban 1}}
        {{index .Junban 2}}
    </body>
</html>